<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.modules.maint.domain.cylinder.mapper.AppPermissionMapper">


    <select id="selectPermissionCodesByUserId" resultType="java.lang.String">
        SELECT DISTINCT p.code
        FROM app_permission p
                 INNER JOIN app_role_permission arp ON p.id = arp.permission_id
                 INNER JOIN app_user_role aur ON arp.role_id = aur.role_id
        WHERE aur.user_id = #{userId}
          AND p.code IS NOT NULL
    </select>

</mapper>