<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.modules.maint.domain.cylinder.mapper.AppUserMapper">


    <select id="fetchUserList" resultType="me.zhengjie.modules.maint.domain.dto.AppUserDetail">
        SELECT
        id,
        username,
        password,
        phone,
        company_id AS companyId,
        user_type AS userType,
        status,
        activator_id AS activatorId,
        last_login AS lastLogin,
        create_time AS createTime
        FROM app_user
        <where>
            company_id = #{companyId}

            <if test="username != null and username != ''">
                AND username LIKE concat('%', #{username}, '%')
            </if>

            <if test="phone != null and phone != ''">
                AND phone LIKE concat('%', #{phone}, '%')
            </if>

            <if test="status != null">
                AND status = #{status}
            </if>

            <if test="createTimeStart != null">
                AND create_time &gt;= #{createTimeStart}
            </if>

            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>